html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

:root {
    --redDark: #7f0000;
    --redLight: #b50a0a;
    --redExtraLight: #fde6d4;
    --blueDark: #3383a2;
    --blueLight: #72c2e1;
    --blueExtraLight: #c2e8eb;
    --background2: #1B2132;
    --accent1: #2cef94;
}
*{
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: var(--background);
}

#start-game-button{
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
#login-screen{
    background-image: url("../assets/background.png"), linear-gradient(90deg, rgba(194,73,47,1) 0%, rgba(53,64,101,1) 100%);;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-container{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 80%;
    background: white;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.8);
}
.logo-container{
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}
.logo-image{
    object-fit: cover;
    border-radius: 25px;
    max-height: 250px;
    filter: grayscale(100%);
    width: 100%;
    opacity: 50%;
}

.animated {
    animation: rainbow 8s linear infinite;
}

@keyframes rainbow{
    0%{color: var(--redLight);}	
    50%{color: var(--blueDark);}
	100%{color: var(--redLight);}
}


.logo-word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    font-family: 'Roboto', sans-serif;
}

.login-container input{
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    background: white;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5))
}
.login-container input[type = button]{
    background: #3d45ee;
    color: white;
    filter: none;
    
}



.menu{
    background-image: url("../assets/background.png"), linear-gradient(90deg, rgba(194,73,47,1) 0%, rgba(53,64,101,1) 100%);;
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.button{
    background-color: yellow;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    margin: 5px auto;
    cursor: pointer;
}

.game{
    background-image: url("../assets/background.png");
    background-color: var(--redLight);
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr;
}

#left-container{
    /* background-color: crimson; */
}

.red-team{
    background-color: var(--redDark);
    margin: 25px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    max-height: 40%;
}

.game-settings{
    background-color: #f7f6f7;
    margin: 25px;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.game-settings input{
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    border: none;
    background: white;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5))
}
.game-settings input[type = button]{
    background: #3d45ee;
    color: white;
    filter: none;
}

.operatives{
    margin: 5px auto;
    color: white;
}
.team-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.team-image{
    width: 50%;
    object-fit: cover;
    border-radius: 15px;
    height: 100px;
}
.team-score{
    width: 50%;
    font-size: 36px;
    color: white;
}

.game-container{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.game-board{
    display: grid;
    grid-gap: 5px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.game-tile{
    background-color: #FBE0B4;
    border-radius: 5px;
    border: 2px solid black;
    aspect-ratio: 16/9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
.tile-blue-spy{
    background-color: var(--blueLight);
    color: white;
}
.tile-red-spy{
    background-color: var(--redLight);
}
.tile-black-spy{
    background-color: rgb(77, 77, 77);
    color: white;
}
.tile-none-spy{
    background-color: #f1cab0;
}
.tile-blue{
    background-color: var(--blueDark);
    color: white;
    background-image: url(/assets/blueTeam.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}
.tile-red{
    background-color: var(--redDark);
    background-image: url(/assets/redTeam.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}
.tile-black{
    background-color: black;
    color: white;
}
.tile-none{
    background-color: #F2AF81;
}

.game-status{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    /* margin-bottom: 100px */
}
.clue{
    /* background-color: cadetblue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#clue-word{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-right: 5px;
}
#clue-number{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-left: 5px;
}
.clue-display-container{
    display: flex;
    flex-direction: row;
}
.clue-submit-container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#number{
    padding: 5px;
}


#right-container{
    /* background-color: 354065; */
    height: 100vh;
    overflow: hidden;
}
.blue-team{
    background-color: var(--blueDark);
    margin: 25px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    max-height: 40%;
}
.game-log{
    background-color: rgba(255, 255, 255, 0.7);;
    margin: 25px;
    border-radius: 15px;
    padding-bottom: 20px;
    overflow: scroll;
    height: 40%;
    overflow-x: hidden;
}
.game-log-message{
    padding: 6px 5px;
    border: 1px solid black;
}
.game-log-message span{
    background: white;
    padding: 3px 5px;
    border-radius: 5px;
}
.game-log-guess-red{
    color: var(--redDark);
}
.game-log-guess-blue{
    color: var(--blueDark);
}
.game-log-guess-black{
    color: black;
}
.game-log-guess-none{
    color: #FBE0B4;
}
.game-log-message-red{
    background: var(--redExtraLight);
}
.game-log-message-blue{
    background: var(--blueExtraLight);
}


.game-over{
    background: white;
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: none;
}